aiohttp              
aiosignal            
async-timeout       
attrs                
av                   
backports.tarfile    
bettercam            
certifi              
cffi                 
charset-normalizer   
colorama             
coloredlogs          
comtypes             
contourpy            
cryptography         
cycler               
filelock             
filterpy             
flatbuffers          
fonttools            
frozenlist           
fsspec               
hidapi               
humanfriendly        
idna                 
importlib_metadata   
jaraco.classes       
jaraco.context       
jaraco.functools     
Jinja2               
jwt                  
keyboard             
keyring              
kiwisolver           
MarkupSafe           
matplotlib           
ml_dtypes            
more-itertools       
MouseInfo            
mpmath               
mss                  
multidict            
networkx             
numpy                
onnx                 
onnxruntime-directml 
opencv-python        
packaging            
pandas               
pillow               
pip                  
propcache            
protobuf             
psutil               
py-cpuinfo           
PyAutoGUI            
pycparser            
pycryptodome         
pygame               
PyGetWindow          
PyJWT                
PyMsgBox             
pyparsing            
pyperclip            
pypresence           
PyQt6                
PyQt6-Qt6            
PyQt6_sip            
pyreadline3          
PyRect               
PyScreeze            
pyserial             
PySide6              
PySide6-Addons       
PySide6-Essentials   
python-dateutil      
pytweening           
pytz                 
pywin32              
pywin32-ctypes       
pywinstyles          
PyYAML               
requests             
scipy                
seaborn              
setuptools           
shiboken6            
six                  
sympy                
termcolor            
torch                
torch-directml       
torchvision          
tqdm                 
typing_extensions    
tzdata               
ultralytics          
ultralytics-thop     
urllib3              
WMI                  
yarl                 
zipp                 